@import 'src/modules/_vars.scss';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: $container-padding;
    box-sizing: border-box;

    button {
        font-size: 30px;
        font-weight: 600;
        background-color: $bgClr-btn;
        color: $txt-clr;
        border: none;
        border-radius: $border-radius;
        padding: $btn-padding;
        cursor: pointer;
        box-shadow: $box-shadow-btn;
        transition: all 225ms ease-in;

        &:hover {
            background-color: $bgClr-btn-hover;
            box-shadow: $box-shadow-btn-hover;
        }
    }
}