@import 'src/modules/_vars.scss';

:host {
    width: 400px;
    padding: 32px;
    background-color: lightgrey;
    border-radius: $border-radius;
}

.addition {
    font-size: $fs-xxs;
}

.info-today {
    font-size: $fs-m;
}

.info-forecast {
    font-size: $fs-s;
}

.weather-today {    
    display: flex;
    flex-direction: column;
    gap: 8px;

    .today-wrapper {
        .today-infos {
            display: flex;
            gap: 30px;

            .today-temp, .today-wind-speed {
                display: flex;
                flex-direction: column;
            }
        }

        .weather-icon {
            padding: 16px;
        }
    }
}

.weather-forecast {
    display: flex;
    flex-direction: column;

    .forecast-day-wrapper {
        display: grid;
        grid-template-columns: 110px 1fr 1fr 1fr 1fr;
        height: 50px;
        grid-gap: 10px;
        align-items: center;

        .day {
            font-size: $fs-s;            
        }

        .forecast-weather-icon {
            height: 30px;
            aspect-ratio: 1;
        }

        .temp, .precip {
            display: flex;
            flex-direction: column;
        }
    }
}