@import 'src/modules/_vars.scss';

:host {
    width: 400px;
    padding: $container-padding;
    background-color: $bgClr-primary;
    border-radius: $border-radius;
    transition: all 225ms ease-in;

    @media (max-width: 460px) {
        height: 100%;
        width: 100%;
        padding: $container-padding * 0.5;
    }
    
    @media (max-width: 370px) {
        padding: $container-padding * 0.3;
    }
}

.addition {
    font-size: $fs-xxs;
}

.info-today {
    font-size: $fs-m;
}

.info-forecast {
    font-size: $fs-s;
    
    @media (max-width: 370px) {
        font-size: $fs-s * 0.9;
    }
}

.weather-today {    
    display: flex;
    flex-direction: column;
    gap: 8px;

    .today-wrapper {
        .today-infos {
            display: flex;
            gap: 30px;

            .today-temp, .today-wind-speed {
                display: flex;
                flex-direction: column;
            }
        }

        .weather-icon {
            padding: 16px;
        }
    }
}

.weather-forecast {
    display: flex;
    flex-direction: column;

    .forecast-day-wrapper {
        display: grid;
        grid-template-columns: 95px 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px;
        grid-gap: 10px;
        align-items: center;
        
        @media (max-width: 370px) {
            grid-template-columns: 95px 1fr 1fr 1fr;
            grid-gap: 5px;
        }

        .day {
            font-size: $fs-s; 

            @media (max-width: 370px) {
                font-size: $fs-s * 0.9;
            }           
        }

        .forecast-weather-icon {
            height: 30px;
            aspect-ratio: 1;
        }

        .temp, .precip {
            display: flex;
            flex-direction: column;
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 370px) {
                display: none;
            }
        }
    }
}