/* You can add global styles to this file, and also import other style files */
@import 'src/modules/_vars.scss';

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: $fs-l !important;
    font-weight: 700 !important;
}

h2 {
    font-size: $fs-s !important;
    font-weight: 400 !important;
}

h1, h2 {
    margin: 0 !important;
}


